.index__carousel
  .index__carousel__draw
    .index__carousel__draw__visible
      .index__carousel__draw__visible__slider
        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch01.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              description

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch02.png"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch03.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch04.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch05.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch06.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch07.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch08.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch09.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル
        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch01.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              description

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch02.png"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch03.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch04.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch05.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch06.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch07.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch08.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル

        .index__carousel__draw__visible__slider__card
          = link_to root_path, class: "index__carousel__draw__visible__slider__card__link" do
            .index__carousel__draw__visible__slider__card__link__eyecatch
              = image_tag asset_path("eyecatch09.jpg"), class: "index__carousel__draw__visible__slider__card__link__eyecatch__img"
              .index__carousel__draw__visible__slider__card__link__eyecatch__label
                label
            .index__carousel__draw__visible__slider__card__link__description
              WordPress標準機能：ギャラリーの表示サンプル
    .index__carousel__draw__dots
      .index__carousel__draw__dot
        %button.index__carousel__draw__dots__dot--button#carousel_button0
          ●
        %button.index__carousel__draw__dots__dot--button#carousel_button1
          ●
        %button.index__carousel__draw__dots__dot--button#carousel_button2
          ●
        %button.index__carousel__draw__dots__dot--button#carousel_button3
          ●
        %button.index__carousel__draw__dots__dot--button#carousel_button4
          ●
        %button.index__carousel__draw__dots__dot--button#carousel_button5
          ●
        %button.index__carousel__draw__dots__dot--button#carousel_button6
          ●
        %button.index__carousel__draw__dots__dot--button#carousel_button7
          ●
        %button.index__carousel__draw__dots__dot--button#carousel_button8
          ●
