.index__content
  .index__content__left
    .index__content__left__widget
      = link_to root_path, class: "index__content__left__widget__link" do
        = image_tag asset_path("add_728_90.jpg"), class: "index__content__left__widget__link--img"
      【トップページ用ウィジェット上部】ここにいろいろと追記できます。AdSenseコードをはってもいいですね。
    .index__content__left__list
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ
      .index__content__left__list__article
        = link_to root_path, class: "index__content__left__list__article__link" do
          .index__content__left__list__article__link__eyecatch
            = image_tag asset_path("eyecatch08.jpg"), class: "index__content__left__list__article__link__eyecatch--img"
            .index__content__left__list__article__link__eyecatch--label
              label
          .index__content__left__list__article__link__entry
            .index__content__left__list__article__link__entry__title
              テンプレート：先頭固定表示
            .index__content__left__list__article__link__entry__day
              .far.fa-calendar-check
              2012.01.17
            .index__content__left__list__article__link__entry__text
              テキストああああああああああああああああああああああああああああ
              ああああああああああああああああああああああああああああああああ
              あああああああああああああテキストあああああああああああああああ

  .index__content__right
    .index__content__right__widget
      = link_to root_path, class: "index__content__right__widget__link" do
        = image_tag asset_path("add_336_280.jpg"), class: "index__content__right__widget__link--img"
    .index__content__right__search
      %input{type: "search", class: "index__content__right__search__box", placeholder: "検索する"}
      %button{type: "submit", class:"index__content__right__search__button"}
        .fas.fa-search.index__content__right__button__icon
    .index__content__right__recently-image
      .index__content__right__recently-image__title
        最近の記事(画像つき)
      .index__content__right__recently-image__container
        .index__content__right__recently-image__container__list
          = link_to root_path, class: "index__content__right__recently-image__container__list__link" do
            .index__content__right__recently-image__container__list__link__eyecatch
              = image_tag asset_path("eyecatch08.jpg"), class: "index__content__right__recently-image__container__list__link__eyecatch--img"
            .index__content__right__recently-image__container__list__link__box
              .index__content__right__recently-image__container__list__link__box__text
                テンプレート:先頭固定表示
              .index__content__right__recently-image__container__list__link__box__date
                2012.01.17
        .index__content__right__recently-image__container__list
          = link_to root_path, class: "index__content__right__recently-image__container__list__link" do
            .index__content__right__recently-image__container__list__link__eyecatch
              = image_tag asset_path("eyecatch08.jpg"), class: "index__content__right__recently-image__container__list__link__eyecatch--img"
            .index__content__right__recently-image__container__list__link__box
              .index__content__right__recently-image__container__list__link__box__text
                テンプレート:先頭固定表示
              .index__content__right__recently-image__container__list__link__box__date
                2012.01.17
        .index__content__right__recently-image__container__list
          = link_to root_path, class: "index__content__right__recently-image__container__list__link" do
            .index__content__right__recently-image__container__list__link__eyecatch
              = image_tag asset_path("eyecatch08.jpg"), class: "index__content__right__recently-image__container__list__link__eyecatch--img"
            .index__content__right__recently-image__container__list__link__box
              .index__content__right__recently-image__container__list__link__box__text
                テンプレート:先頭固定表示
              .index__content__right__recently-image__container__list__link__box__date
                2012.01.17
        .index__content__right__recently-image__container__list
          = link_to root_path, class: "index__content__right__recently-image__container__list__link" do
            .index__content__right__recently-image__container__list__link__eyecatch
              = image_tag asset_path("eyecatch08.jpg"), class: "index__content__right__recently-image__container__list__link__eyecatch--img"
            .index__content__right__recently-image__container__list__link__box
              .index__content__right__recently-image__container__list__link__box__text
                テンプレート:先頭固定表示
              .index__content__right__recently-image__container__list__link__box__date
                2012.01.17
    .index__content__right__recently-text
      .index__content__right__recently-text__title
        最近の記事(テキスト)
      .index__content__right__recently-text__container
        .index__content__right__recently-text__container__list
          = link_to root_path, class: "index__content__right__recently-text__container__list__link" do
            .index__content__right__recently-text__container__list__link__text
              「アコーディオン」ショートコード表示サンプル
        .index__content__right__recently-text__container__list
          = link_to root_path, class: "index__content__right__recently-text__container__list__link" do
            .index__content__right__recently-text__container__list__link__text
              「アコーディオン」ショートコード表示サンプル
        .index__content__right__recently-text__container__list
          = link_to root_path, class: "index__content__right__recently-text__container__list__link" do
            .index__content__right__recently-text__container__list__link__text
              「アコーディオン」ショートコード表示サンプル
        .index__content__right__recently-text__container__list
          = link_to root_path, class: "index__content__right__recently-text__container__list__link" do
            .index__content__right__recently-text__container__list__link__text
              「アコーディオン」ショートコード表示サンプル
        .index__content__right__recently-text__container__list
          = link_to root_path, class: "index__content__right__recently-text__container__list__link" do
            .index__content__right__recently-text__container__list__link__text
              「アコーディオン」ショートコード表示サンプル
    .index__content__right__tag
      .index__content__right__tag__title
        Tag
    .index__content__right__archive
      .index__content__right__archive__title
        アーカイブ
    .index__content__right__category
      .index__content__right__category__title
        カテゴリー
